.RegistrationForm {
  position: relative;
  height: 100%;
  width: 100%;

  &-background {
    background-image: url('../../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #A0A0A0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }

  &-image {
    opacity: 0.6;
  }

  &-form {
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  &-input {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  &-button {
    padding: 10px;
    min-height: 30px;
    display: block;
    background-color: rgb(131, 175, 80);
    color: white;

    &[disabled] {
      background-color: rgb(149, 172, 123);
      cursor: not-allowed;
    }
  }

  &-error {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px red;
    color: red;
    background-color: wheat;
    border-radius: 3px;
  }
}
